---
services:
  sut:
    build:
      context: .
      dockerfile: Dockerfile
    command: |
      sh -c '
        set -euo pipefail
        # Use $$ to prevent interpolation 
        if [ $$(id -u) -ne 1000 ]; then
          exit 1
        fi
        awk --version # gawk
        base64 --version # coreutils
        curl --version # curl
        dasel --version # dasel
        git --version # git
        grep --version # grep
        jf -v # jsonfmt
        jq --version # jq
        pip --version # py3-pip
        pipx --version # pipx
        npx prettier --version # prettier
        python --version # python3
        remarshal --version # remarshal
        npx v8r --version # v8r
        yaml-paths --version # yamlpath
        yamllint --version # yamllint
        yq --version # yq-go
      '
